.libraryName {
  font-weight: 800;
  font-size: 28px;
}

.navbar {
  background: linear-gradient(90deg, #a66b4b, #d9a673, #f5d976);
}

.navLink {
  color: var(--color-white);
  font-weight: 700;
  font-size: 18px;
}
.activeLink,
.navLink:hover,
.navLink:focus,
.navLink:active {
  color: #542403;
}

.searchInput {
  width: 50%;
}
